{% extends 'admin_header_footer.html' %}
{% load static %}
{% block conten %}

<!-- START: Main Content-->
<main>
    <div class="container-fluid site-width">
        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Update Profile</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item">Table</li>
                        <li class="breadcrumb-item active"><a href="#">Update</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->

        <!-- START: Card Data-->
        <form action="/edit_profile/" method="POST">
            {% csrf_token %}
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-header  justify-content-between align-items-center">
                        <h4 class="card-title">{{item.first_name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-3">
                                <label>First Name :-</label>
                                <label>{{item.first_name}}</label>
 <!--                               <input class="form-control" type="text"  value="{{item.last_name}}" readonly placeholder="Enter your Last Name">-->
                        </div>
                        <div class="form-group mb-3">
                            <label>Last Name :-</label>
                            <label>{{item.last_name}}</label>
<!--                               <input class="form-control" type="text"  value="{{item.last_name}}" readonly placeholder="Enter your Last Name">-->
                    </div>
                        <div class="form-group mb-3">
                                <label>User Address :-</label>
                                <label>{{item.users_addres}}</label>
<!--                                <input class="form-control" type="text"  value="{{item.users_addres}}"  readonly placeholder="Enter your Address">-->
                        </div>
                        <div class="form-group mb-3">
                                <label>PhoneNumber :-</label>
                                <label>{{item.users_phone}}</label>
<!--                                <input class="form-control" type="text" value="{{item.users_phone}}"  readonly placeholder="Enter your PhoneNumber">-->
                        </div>
                        <div class="form-group mb-0">
                                <button class="btn btn-primary" type="submit"> Edit  Profile </button>
                            </div>

                    </div>
                </div>

            </div>
        </div>
        </form>
        <!-- END: Card DATA-->
    </div>
</main>
<!-- END: Content-->

{% endblock %}